PORT=5000
MONGODB_URI=mongodb+srv://jamelbhola177_db_user:jamel_1234@cluster0.ge8tnoy.mongodb.net/?appName=Cluster0
JWT_SECRET=stylehub_dev_secret_key_2026
CLIENT_URL=http://localhost:3000

# Cloudinary - get these from https://cloudinary.com/console
CLOUDINARY_CLOUD_NAME=dkeivoqmg
CLOUDINARY_API_KEY=297228498569657
CLOUDINARY_API_SECRET=_dcS6zWBbyCfIFPU7d2HVkjOnVU
